
/* CONFIG PARA TODAS LAS PAGINAS */

*{    
    margin: 0;   
    padding: 0;
}

html{
    font-size: 62.5%;
}

.logo{
    width: 5rem;
    height: 5rem;
    display: inline-block;
    margin: 10px 0px 10px 10px;
}

main{
    background-color: #cdbdaa;
    padding: 6rem 12rem;
}



/* HEADER */

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 8rem;
    background-color: #271702;
}


.argonautas1{
    display:flex;
    align-items:center;
}


h1{
    color:#edc99c;
    display: inline-block;
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    margin-top: 0.5rem
}

h2{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0e0801;
    font-weight: bold;
    
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #271702;
    font-weight: bold;
}

h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0e0801;
    font-weight: bold;
}

p{
    font-size: medium;
    font-family: 'Helvetica';
    color:#271702;
    
}

nav{
    display:inline-block;
    margin-top: 1.7em;
}


.mainul{
    list-style-type: none;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.mainli{
    display: block;
    font-size: small;
    font-family: 'Helvetica';
    padding: 0rem 0.8rem;
}

a{
    font-family: 'Helvetica';
    text-decoration:none;
    color:#edc99c;
}

.selected{
    text-decoration: underline; /* Es la única modificación que pude hacerle. quise ponerle algun sombreado o algo más sutil, pero no pude */
}


/* FOOTER */

footer{
    background-color: #271702;
    height: 4rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 8rem;
}

.pfooter{
    display:inline-block;
    margin-top: 1rem;
    color: #c0b19d;
    font-size: small;   
}

.imgfooter{
    display: flex;
    justify-content: end;
}

.imgf{
    display:inline-block;
    height: 2rem;
    padding-left: 1rem;
}

.imgf2{
    display:inline-block;
    height: 1.9rem;
    padding-left: 0.8rem;
}

/* 1024px-1339px */

@media screen and (min-width: 1024px) and (max-width:1439px){
    
    /* Header */
    
    .argonautas1 {
        flex: 1;
      }
    
    .navbar {
        flex: 1;
      }

    .collapse{
        display: flex;
        justify-content: end;
    }

    /* Main */

    main{
        background-color: #cdbdaa;
        padding: 3rem 6rem;
    }

    /* Footer */

    .pfooter{
        width: fit-content;
    }
    .imgfooter{
        width: fit-content;
    }

    h4{
        font-size: 14px; 
    }
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width:1023px){
    /* Header */
    

    header{
        padding: 0rem 3rem;
    }

    .argonautas1 {
        flex: 1;
      }
    
    .navbar {
        flex: 1;
      }

    .collapse{
        display: flex;
        justify-content: end;
    }

    .mainli{
        font-size: 12px;
    }

    /* Main */

    main{
        background-color: #cdbdaa;
        padding: 3rem 6rem;
    }

    /* Footer */

    .pfooter{
        width: fit-content;
    }
    .imgfooter{
        width: fit-content;
    }

    h4{
        font-size: 14px; 
    }
}

/* Mobile S-M-L */

@media screen and (min-width: 320px) and (max-width:767px){

    /* Header */
    header{
        padding: 0rem;
        display: flex;
        flex-direction: column;
    }

    .argonautas1 {
        width: fit-content;
        grid-area: logo;
    }

    .logo{
        margin-bottom: 0rem;
    }
    
    .navbar {
        width: fit-content;
        display: flex;
        flex-direction: column;
    }


    .collapse{
        display: flex;
        justify-content: end;
    }

    .navbar-toggler{
        border-style:none;
    }

    .mainul{
        margin-bottom:1rem;
        padding:0rem;
    }

    .mainli{
        font-size: 12px;
    }

    /* Main */

    main{
        padding: 2.4rem;
    }

    /* Footer */
    
    footer{
        padding: 0rem 3rem
    }

    .pfooter{
        width: fit-content;
    }
    .imgfooter{
        width: fit-content;
    }

    .pfooter{
        font-size: 10px; 
    }
}


/* INDEX */

.mainindex{
    display: grid;
    grid-template-columns: 83% 17%;
    grid-template-rows: 60% 40%;
    grid-template-areas: 
    "noticias miniaturas"
    "colaborar colaborar";
}

/* Box izq con notas*/


.notasPrincipales{
    grid-area: noticias;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-right: 1.8rem;
    justify-content: space-between;
}

.notasPrincipales h1{
    color: #0e0801;
    font-size: xx-large;
    font-style: italic;
}

.nota{
    display: flex;
}

.nota:hover{
    display: flex;
    background-color: #beaf9c;
    border-radius: 1rem;
}

.nota:hover .imgboxizq{
    display: inline-block;
    height: 23.7rem;
    width: 32.3rem;
    border-radius: 1rem 0rem 0rem 1rem;
    
}

.Tnota{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.imgboxizq{
    display: inline-block;
    height: 23.7rem;
    width: 32.3rem;
    border-radius: 10px;    
}

.boxPizq{
    display: flex; 
    flex-direction: column;
    padding: 2rem;
    justify-content: space-between;
}

.linkboxderPadre1{
    display: flex;
    justify-content: end;
    margin: 0rem 7rem 0rem 0rem;
}

.linkboxderPadre2{
    display: flex;
    justify-content: end;
    margin: 0rem 7rem 0rem 0rem;
}

.linkboxder{
    color:#55694a;
}
  
.Pnota {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;  
}


/* Box der del PODCAST */

.boxDerecha{
    grid-area: miniaturas;
    background-color:#7b6b57;
    border-radius: 1rem;
    padding: 0rem;   
}


.tituloimgpodcast{
    display:flex;
    padding: 1.6rem;
    background-color: #4f4840;
    border-radius: 0.9rem 0.9rem 0rem 0rem;
}

.elemDer{
    height: 7rem;
    width: 7rem;
    background-image: url("../multimedia/mapuche.png");
    background-size:cover;
    background-repeat: none;
    background-position: center;    
    border-radius: 1rem;  
}

.titulopodcast{
    margin-left: 1.6rem;
    height: fit-content;
    align-self: center;
    color:#ead1b2;
}

.listaprogramas{
    margin-top: 1.6rem;
    list-style: none;
    padding-right: 2rem;
}

.elemlistaprogrmas{
    display:flex;
    align-content: center;
    font-family: 'Helvetica';
    padding: 0.8rem;
    border-radius: 1rem; 
}

.elemlistaprogrmas p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: small;
    color:#ecd4b5;
    margin-bottom: 0rem;
}

.elemlistaprogrmas:hover{
    font-size: small;
    font-family: 'Helvetica';
    font-weight: bold;
    color:#271702;
    background-color: #cdbdaa; 
    padding: 0.8rem;
    border-radius: 1rem;
}

.elemlistaprogrmas:hover p{
    color:#271702;   
}

.playbutton{
    width: 2rem;
    height: 2rem;
    margin-right: 0.8rem;
    align-self: center;
}

/* Colaborar */

.colaborar{
    grid-area: colaborar;
    height: 31rem;
    background-color:  #c0b19d;
    border-radius: 1rem;
    padding: 4rem 7rem;
    margin: 7rem 0rem 12rem 0rem;
}

.tituloColab{
    display:block;
    padding-bottom: 2rem;
}

.pColab{
    display:block;
    font-size: 16px;
}

.botoncolab{
    display: flex;
    justify-content: flex-end;
}

.aColab{
    margin-top: 5rem;
    padding: 1rem 2rem;
    background-color: #55694a;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

/* Min width 1024px */

@media screen and (min-width: 1024px) and (max-width:1439px){
    
    /* Main */

    .mainindex{
        display: grid;
        grid-template-columns: 83% 17%;
        grid-template-rows: 60% 40%;
        grid-template-areas: 
        "noticias miniaturas"
        "colaborar colaborar";
    }

    .notasPrincipales{
        grid-area: noticias;
        height: auto;
        width: auto;
    }

    .notasPrincipales h1{
        margin-bottom: 2rem;
    }

    .imgboxizq{
        display: inline-block;
        border-radius: 10px;
    }


    .nota{
        display: flex;
        margin-bottom: 3rem;
        height: auto;
    }
    
    .nota:hover{
        display: flex;
        background-color: #beaf9c;
        border-radius: 1rem;
    }
    
    .nota:hover .imgboxizq{
        display: inline-block;
        border-radius: 1rem 0rem 0rem 1rem;
        
    }
    
    .Pnota{
        font-size: 14px;
        -webkit-line-clamp: 4;  
      }

    .linkboxderPadre1{
        margin:0rem
    }

    .linkboxderPadre2{
        margin:0rem
    }

    .boxDerecha{
        grid-area: miniaturas;
    }

    .boxDerecha .tituloimgpodcast{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        text-align: center;
    }

    .boxDerecha .tituloimgpodcast a{
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .titulopodcast{
        margin: 0rem;
        font-size: 1.3rem;
    }

    .elemDer{
        margin: 0;
        width: 10rem;
    }

    .elemlistaprogrmas p{
        font-size: 1.1rem;
    }

    .elemlistaprogrmas:hover{
        font-size: 10px;
        font-family: 'Helvetica';
        font-weight: bold;
        background-color: #cdbdaa; 
        padding: 0.8rem;
        border-radius: 1rem;
    }

    .listaprogramas{
        margin-top: 0.8rem;
    }

    .colaborar{
        margin: 5rem 0rem 0rem 0rem;
        height: auto;
        grid-area: colaborar;
    }
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1023px){
    .mainindex{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 35% 35% 30%;
        grid-template-areas: 
        "noticias"
        "miniaturas"
        "colaborar";
    }

    .notasPrincipales{
        padding-right: 0rem;
        justify-content: space-around;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    .notasPrincipales h1{
        margin-top: 5rem;
    }

    .nota{
        margin: 1.5rem 0rem;
    }

    .nota:hover{
        display: flex;
        background-color: #beaf9c;
        border-radius: 1rem;
    }
    
    .nota:hover .imgboxizq{
        display: inline-block;
        border-radius: 1rem 0rem 0rem 1rem;
        height: 16.7rem;
        width: 25.3rem;
        
    }

    .imgboxizq{
        height: 16.7rem;
        width: 25.3rem;
    }

    .boxPizq{
        padding-right: 0.5rem;
    }

    .Pnota{
        font-size: 1.3rem;
        -webkit-line-clamp: 3;
    }

    .linkboxderPadre1{
        margin: 0rem 2rem 0rem 0rem;
    } 
    
    .linkboxderPadre2{
        margin: 0rem;
    }

    .boxDerecha{
        height: fit-content;
        padding-bottom: 2.4rem;
        margin-top: 4rem;
    }

    .colaborar{
        margin: 0rem;
        background-color:#cdbdaa;
        padding: 0rem 1rem;
        height: auto;
    }

    .botoncolab{
        margin: 4rem 2rem 0rem 0rem;
    }

    .pColab{
        font-size: 1.3rem;
    }

    .aColab{
        font-size: 1.6rem;
    }


}

/* Mobile S-M-L */

@media screen and (min-width: 320px) and (max-width: 767px){
    
    .mainindex{
        display: flex;
        flex-direction: column;
    }

    .notasPrincipales{
        padding: 0rem;
        margin:0rem;
        display: flex;
        flex-direction: column;
    }

    .notasPrincipales h1{
        margin-bottom: 2rem;
    }

    .nota{
        display: flex;
        flex-direction: column;
        margin-bottom: 3.2rem;
    }

    .nota:hover{
        display: flex;
        flex-direction: column;
        background-color: #beaf9c;
        border-radius: 1rem;
    }
    
    .nota:hover .imgboxizq{
        display: inline-block;
        border-radius: 1rem 1rem 0rem 0rem;
        height: 25rem;
        width: 100%; 
    }

    .imgboxizq{
        height: 25rem;
        width: 100%;
    }

    .boxPizq{
        padding: 2rem 1.5rem;
    }

    .Pnota{
        font-size: 1.3rem;
        -webkit-line-clamp: 3;
    }

    .linkboxderPadre1{
        margin: 0rem;
    } 
    
    .linkboxderPadre2{
        margin: 0rem;
    }

    .boxDerecha{
        height: fit-content;
        padding-bottom: 2.4rem;
        margin-top: 0rem;
        margin-bottom: 2rem;
    }

    .colaborar{
        margin: 0rem 0rem 0rem 0rem;
        background-color:#cdbdaa;
        padding: 0rem 1rem;
    }

    .botoncolab{
        margin: 0rem 2rem 0rem 0rem;
    }

    .pColab{
        font-size: 1.4rem;
    }

    .aColab{
        font-size: 1.6rem;
    }

    .colaborar{
        height: auto;
    }

}

/* Mobile L */

@media screen and (min-width: 550px) and (max-width: 767px){

    .imgboxizq{
        height: 40rem;
        width: 100%;
    }

    .nota:hover .imgboxizq{
        height: 40rem;
        width: 100%; 
    }
}

/* Mobile M */

@media screen and (min-width: 375px) and (max-width: 424px){
    .nota{
        margin-bottom: 2rem;
    }

}

/* Mobile S */

@media screen and (min-width: 320px) and (max-width: 374px){
    .nota{
        margin-bottom: 1.5rem;
    }


}

/* PROYECTOS */



/* Podcast */

.podcast{
    display: block;
    padding: 5rem;
    background-color: #c0b19d;
    border-radius: 1rem;
}

.Tpodcast{
    display:inline-block;
    padding-bottom: 1.8rem;
    
}

.Ppodcast{
    margin-bottom: 5rem;
}

.boton{display:flex;
    justify-content: end;
}

.escuchar{
    padding: 10px 20px;
    background-color: #55694a;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

/* Mapa y Territorio */


.proyectospreviostitulo{
    display:flex;
    padding: 8rem 0rem 3rem 1rem;
    justify-content: center;
    font-style: italic;
}

.MyT{
    display: flex;
    margin-bottom: 7rem;
}

.MyTt{
    display: flex;
    justify-content: center;
    padding-top: 8rem;
    border-radius: 1rem;
    height: 30rem;
    background-image: url(../multimedia/mtdibujo.jpeg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

.titulo{
    width: 45rem;
    height: 9rem;
}


.MyTp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.botonleer{display:flex;
    justify-content: end;
    padding-right: 5rem;
}

.leer{
    padding: 10px 20px;
    background-color: #55694a;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

/* 1024-1280px */

@media screen and (min-width: 1024px) and (max-width: 1280px){
    .podcast{
        margin-top: 3rem;
    }
    
    .MyTt{
        height: auto;        
    }
}

/* Mobile L y Tablet */

@media screen and (min-width: 320px) and (max-width: 1023px){
    .podcast{
        margin-top: 3rem;
    }
    
    .MyT{
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;        
    }

    .MyTp{
        padding: 4rem 1rem;
    }
}

/* Mobile L */

@media screen and (min-width: 320px) and (max-width: 767px){
    .titulo{
        width: 100%;
    }
}

/* Mobile S */

@media screen and (min-width: 320px) and (max-width: 375px){
    .proyectospreviostitulo{
        padding: 0rem;
        margin: 4rem 0rem 3rem 0rem;
        text-align: center;
    }
}

/* NOSOTROS */



.mainnosotros{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "quienes quienes" 
    "miembro1 miembro2"
    "miembro3 miembro4"
    "miembro5 miembro6"
    "miembro7 miembro7";
}

.quienes{
    grid-area:quienes;
    padding: 3rem 7rem 0rem 7rem;
}

.miembro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    
}

.miembro71{
    display: flex;
    justify-content: center;    
}

.miembro1{
    display: block;
    flex-direction: column;
    background-color: #c0b19d;
    width: 50rem;
    border-radius: 10px;
    grid-area: miembro1;
}

.miembro2{
    display: block;
    flex-direction: column;
    background-color: #c0b19d;
    width: 50rem;
    border-radius: 10px;
    grid-area: miembro2;
}

.miembro3{
    display: block;
    flex-direction: column;
    background-color: #c0b19d;
    width: 50rem;
    border-radius: 10px;
    grid-area: miembro3;
}

.miembro4{
    display: block;
    flex-direction: column;
    background-color: #c0b19d;
    width: 50rem;
    border-radius: 10px;
    grid-area: miembro4;
}

.miembro5{
    display: block;
    flex-direction: column;
    background-color: #c0b19d;
    width: 50rem;
    border-radius: 10px;
    grid-area: miembro5;
}

.miembro6{
    display: block;
    flex-direction: column;
    background-color: #c0b19d;
    width: 50rem;
    border-radius: 10px;
    grid-area: miembro6;
}

.miembro7{
    display: block;
    flex-direction: column;
    background-color: #c0b19d;
    width: 50rem;
    border-radius: 10px;
    grid-area: miembro7;
}

.nombreCargo{
    display: block;
    padding: 1.6rem;
}

.cargo{
    display: block;
    padding-top: 0.3rem;
}

.imgparrafo{
    display:flex;
    flex-direction: row;
    margin-bottom: 1.6rem;
}

.nosotrosimg{
    margin-left: 1.6rem;
    height: 15rem;
    width: 15rem;
    border-radius: 10px;
}

.nosotrosp{
    padding: 0rem 1.6rem;
}

/* ARCHIVO */

/* Última nota */

.notaprincipal{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 8rem;
    background-color: #c0b19d;
}

.ultimanota{
    display: flex;
    flex-direction: column;
    margin: 2.4rem;
    justify-content:space-between;
}

.linkultimanota{
    display: flex;
    justify-content: end;
    color: #55694a;
    margin-bottom: 3rem;
}

.imgnota1{
    height: 25.4rem;
    width: 55rem;
    border-radius: 10px;
    margin: 2.4rem;
}

.autor1{
    display: inline-block;
    padding-bottom: 1.2rem;
}

/* Miniaturas otras notas */

.miniaturas{
    display: flex;
    margin-bottom: 8rem;
    justify-content: space-between;
}

.miniaturabox{
    width: 33.5rem;
    height: 43rem;
}

.miniaturabox:hover {
    width: 33.5rem;
    height: 43rem;
    background-color: #beaf9c;
    border-radius: 1rem;
  }
  
  .miniaturabox:hover .imgminiaturas2,
  .miniaturabox:hover .imgminiaturas3,
  .miniaturabox:hover .imgminiaturas4,
  .miniaturabox:hover .imgminiaturas5,
  .miniaturabox:hover .imgminiaturas6,
  .miniaturabox:hover .imgminiaturas7 {
    border-radius: 0.8rem 0.8rem 0rem 0rem;
  }

.imgminiaturas2{   
    width:33.5rem;
    height: 20.4rem;
    background-image: url(../multimedia/arqueo1.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 0.8rem;
}

.imgminiaturas3{   
    width:33.5rem;
    height: 20.4rem;
    background-image: url(../multimedia/mtdibujo.jpeg);
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 0.8rem;
}

.imgminiaturas4{   
    width:33.5rem;
    height: 20.4rem;
    background-image: url(../multimedia/mtdibujo.jpeg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 0.8rem;
}

.imgminiaturas5{   
    width:33.5rem;
    height: 20.4rem;
    background-image: url(../multimedia/mtdibujo.jpeg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 0.8rem;
}

.imgminiaturas6{   
    width:33.5rem;
    height: 20.4rem;
    background-image: url(../multimedia/mtdibujo.jpeg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 0.8rem;
}

.imgminiaturas7{   
    width:33.5rem;
    height: 20.4rem;
    background-image: url(../multimedia/mtdibujo.jpeg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 0.8rem;
}

.titulomini{
    font-size: medium;
}

.miniaturatext{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
    margin: 1rem 1rem 0rem 1rem;
    padding: 1rem 0.5rem 0rem 0.5rem;
}

.miniaturadesc{
    height: 14.5rem;
    overflow: hidden;
}

.autormini{
    padding: 0.2rem 0rem;
    font-weight: 100;
    font-size: small;
}

.linkminiatura{
    display: flex;
    justify-content: end;
    color: #55694a;
}

.paginas{
    display: flex;
    justify-content: center;
    font-size: medium;
}

.paginasinf{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: #55694a;
    width: 20rem;
    height: 3rem;
    border-radius: 1rem;
}

.numpagina{
    width: 2rem;
    display: flex;
    justify-content: center;
}

.numpagina:hover{
    width: 2rem;
    display: flex;
    justify-content: center;
    background-color:#738467;
    border-radius: 1rem;
}

#puntitos{
    color: #cdbdaa;
}

/* SUMATE */ 

.mainsumate{
    padding:0rem;
}

.acciontitulo{
    display: block;
    margin-bottom:3rem;
}

.accion1{
    margin-bottom: 6rem;
    padding: 6rem 16rem;
}

.mision{
    height: fit-content;
    background-color:#62625f;
    background-image: url(../multimedia/mtdibujo.jpeg); /* probablemente vaya otra imagen */
    background-blend-mode:soft-light; /* ver de poner la imagen mas suave aun */
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding: 5rem 16rem;
    margin-bottom: 6rem;
}

.misiontitulo{
    display: flex;
    justify-content: end;
}

.misionP{
    background-color:#55694a;
    width: 70rem;
    height: fit-content;
    padding: 3rem 5rem;
    position: relative;
    top:11rem;
    border-radius: 1rem;
}

.misioncolor{
    color:#cdbdaa;
}

.beneficios{
    padding: 6rem 16rem;
}

.beneficiostitulo{
    display: block;
    margin-bottom:3rem;   
}

.ulaportantes{
    list-style-type:decimal;
    font-size: large;
    color:#271702;
    font-family: 'Helvetica';
    padding-left:2rem;
}

.liaportantes{
    margin-bottom: 1rem;
}

.botonMP{
    display: flex;
    justify-content: end;
    padding: 0rem 16rem 6rem 0rem;
}

.MercP{
    height: 7rem;
    width: auto;
    background-color: #55694a;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 2rem;
}