@charset "UTF-8";
/* CONFIG PARA TODAS LAS PAGINAS */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h1 {
  color: #ecd4b5;
  display: inline-block;
  margin-left: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: large;
  margin-top: 0.5rem;
}

h2 {
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #0e0801;
  font-weight: bold;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #271702;
  font-weight: bold;
}

h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #0e0801;
  font-weight: bold;
}

p {
  font-size: medium;
  font-family: "Helvetica";
  color: #271702;
}

a {
  font-family: "Helvetica";
  text-decoration: none;
  color: #ecd4b5;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  z-index: 2;
}
header .headergral {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 8rem;
  background-color: #271702;
  box-shadow: 0px 1px 20px rgb(62, 62, 62);
}
header .headergral .argonautas1 {
  display: flex;
  align-items: center;
}
header .headergral .argonautas1 .logo {
  width: 5rem;
  height: 5rem;
  display: inline-block;
  margin: 10px 0px 10px 10px;
}
header .headergral .argonautas1 h1 {
  white-space: nowrap;
}
header .headergral nav {
  display: inline-block;
}
header .headergral nav .mainul {
  list-style-type: none;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}
header .headergral nav .mainul .mainli {
  display: block;
  font-size: small;
  font-family: "Helvetica";
  padding: 0rem 0.8rem;
}
header .headergral nav .mainul .mainli .selected {
  display: inline-block;
}
header .headergral nav .mainul .mainli .selected::after {
  content: "";
  height: 3px;
  background: #ecd4b5;
  border-radius: 10px;
  display: block;
}

/* Main */
main {
  background-color: #cdbdaa;
  padding: 12rem 6rem 6rem 12rem;
}

/* Footer */
footer {
  background-color: #271702;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 8rem;
  box-shadow: 0px 1px 20px rgb(91, 91, 91);
}
footer .pfooter {
  display: inline-block;
  margin-top: 1rem;
  color: #cdbdaa;
  font-size: small;
}
footer .imgfooter {
  display: flex;
  justify-content: end;
}
footer .imgfooter .imgf {
  display: inline-block;
  height: 2rem;
  padding-left: 1rem;
}
footer .imgfooter .imgf2 {
  display: inline-block;
  height: 1.9rem;
  padding-left: 0.8rem;
}

/* MEDIA QUERYS */
/* 1024px-1339px */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  h4 {
    font-size: 14px;
  }
  /* Header */
  .argonautas1 {
    flex: 1;
  }
  .navbar {
    flex: 1;
  }
  .navbar .collapse {
    display: flex;
    justify-content: end;
  }
  /* Main */
  main {
    background-color: #cdbdaa;
    padding: 12rem 6rem 6rem 6rem;
  }
  /* Footer */
  .pfooter {
    width: fit-content;
  }
  .imgfooter {
    width: fit-content;
  }
}
/* Tablet */
@media screen and (min-width: 880px) and (max-width: 1023px) {
  h4 {
    font-size: 14px;
  }
  /* Header */
  .headergral .argonautas1 {
    flex: 1;
  }
  .headergral .navbar {
    flex: 1;
  }
  .headergral .navbar .collapse {
    display: flex;
    justify-content: end;
  }
  /* Main */
  main {
    background-color: #cdbdaa;
    padding: 3rem 6rem;
  }
  /* Footer */
  .pfooter {
    width: fit-content;
  }
  .imgfooter {
    width: fit-content;
  }
}
@media screen and (min-width: 768px) and (max-width: 879px) {
  .headergral {
    flex-direction: column;
    padding-top: 14rem;
  }
  .pfooter {
    width: fit-content;
  }
  .imgfooter {
    width: fit-content;
  }
}
/* Mobile S-M-L */
@media screen and (min-width: 320px) and (max-width: 767px) {
  /* Header */
  .headergral {
    padding: 0rem;
    display: flex;
    flex-direction: column;
  }
  .headergral .argonautas1 {
    width: fit-content;
    grid-area: logo;
  }
  .headergral .argonautas1 .logo {
    margin-bottom: 0rem;
  }
  .headergral .navbar {
    width: fit-content;
    display: flex;
    flex-direction: column;
  }
  .headergral .navbar .navbar-toggler {
    border-style: none;
  }
  .headergral .navbar .collapse .mainul {
    margin-bottom: 1rem;
    padding: 0rem;
  }
  /* Main */
  main {
    padding: 2.4rem;
  }
  /* Footer */
  footer {
    padding: 0rem 3rem;
  }
  footer .pfooter {
    width: fit-content;
    font-size: 10px;
  }
  footer .imgfooter {
    width: fit-content;
  }
}
.mainindex {
  display: grid;
  grid-template-columns: 83% 17%;
  grid-template-rows: 60% 40%;
  grid-template-areas: "noticias miniaturas" "colaborar colaborar";
  /* Ultimas notas */
  /* Box der del PODCAST */
  /* Colaborar */
}
.mainindex .notasPrincipales {
  grid-area: noticias;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-right: 1.8rem;
  justify-content: space-between;
}
.mainindex .notasPrincipales h1 {
  color: #0e0801;
  font-size: xx-large;
  font-style: italic;
}
.mainindex .notasPrincipales .nota {
  display: flex;
  transition: box-shadow 0.2s, background-color 0.2s;
}
.mainindex .notasPrincipales .nota .imgboxizq {
  display: inline-block;
  height: 23.7rem;
  width: 32.3rem;
  border-radius: 10px;
  transition: border-radius 0.2s;
}
.mainindex .notasPrincipales .nota .boxPizq {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
}
.mainindex .notasPrincipales .nota .boxPizq .Tnota {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.mainindex .notasPrincipales .nota .boxPizq .Pnota {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.mainindex .notasPrincipales .nota .boxPizq .linkboxderPadre1 {
  display: flex;
  justify-content: end;
  margin: 0rem 7rem 0rem 0rem;
}
.mainindex .notasPrincipales .nota .boxPizq .linkboxderPadre1 .linkboxder {
  color: #55694a;
}
.mainindex .notasPrincipales .nota .boxPizq .linkboxderPadre2 {
  display: flex;
  justify-content: end;
  margin: 0rem 7rem 0rem 0rem;
}
.mainindex .notasPrincipales .nota .boxPizq .linkboxderPadre2 .linkboxder {
  color: #55694a;
}
.mainindex .notasPrincipales .nota:hover {
  display: flex;
  background-color: #c0b19d;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px rgb(135, 134, 134);
}
.mainindex .notasPrincipales .nota:hover .imgboxizq {
  display: inline-block;
  height: 23.7rem;
  width: 32.3rem;
  border-radius: 1rem 0rem 0rem 1rem;
}
.mainindex .boxDerecha {
  grid-area: miniaturas;
  background-color: #7b6b57;
  border-radius: 1rem;
  padding: 0rem;
}
.mainindex .boxDerecha .tituloimgpodcast {
  display: flex;
  padding: 1.6rem;
  background-color: #4f4840;
  border-radius: 0.9rem 0.9rem 0rem 0rem;
}
.mainindex .boxDerecha .tituloimgpodcast .elemDer {
  height: 7rem;
  width: 7rem;
  background-image: url("../multimedia/mapuche.png");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  border-radius: 1rem;
}
.mainindex .boxDerecha .tituloimgpodcast .titulopodcast {
  margin-left: 1.6rem;
  height: fit-content;
  align-self: center;
  color: #ecd4b5;
}
.mainindex .boxDerecha .listaprogramas {
  margin-top: 1.6rem;
  list-style: none;
  padding-right: 2rem;
}
.mainindex .boxDerecha .listaprogramas .elemlistaprogrmas {
  display: flex;
  align-content: center;
  font-family: "Helvetica";
  padding: 0.8rem;
  border-radius: 1rem;
  transition: background-color 0.4s, box-shadow 0.4s, color 0.09s;
}
.mainindex .boxDerecha .listaprogramas .elemlistaprogrmas .playbutton {
  width: 2rem;
  height: 2rem;
  margin-right: 0.8rem;
  align-self: center;
}
.mainindex .boxDerecha .listaprogramas .elemlistaprogrmas p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: small;
  color: #ecd4b5;
  margin-bottom: 0rem;
}
.mainindex .boxDerecha .listaprogramas .elemlistaprogrmas:hover {
  font-size: small;
  font-family: "Helvetica";
  font-weight: bold;
  color: #271702;
  background-color: #cdbdaa;
  padding: 0.8rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgb(67, 67, 67);
}
.mainindex .boxDerecha .listaprogramas .elemlistaprogrmas:hover p {
  color: #271702;
}
.mainindex .colaborar {
  grid-area: colaborar;
  height: 31rem;
  background-color: #c0b19d;
  border-radius: 1rem;
  padding: 4rem 7rem;
  margin: 7rem 0rem 12rem 0rem;
}
.mainindex .colaborar .tituloColab {
  display: block;
  padding-bottom: 2rem;
}
.mainindex .colaborar .pColab {
  display: block;
  font-size: 16px;
}
.mainindex .colaborar .botoncolab {
  display: flex;
  justify-content: flex-end;
}
.mainindex .colaborar .botoncolab .aColab {
  margin-top: 5rem;
  padding: 1rem 2rem;
  background-color: #55694a;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s;
}
.mainindex .colaborar .botoncolab .aColab:hover {
  background-color: #2a481b;
}

/* MEDIA QUERYS */
/* 1024px - 1439px */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  /* Main */
  .mainindex {
    display: grid;
    grid-template-columns: 83% 17%;
    grid-template-rows: 60% 40%;
    grid-template-areas: "noticias miniaturas" "colaborar colaborar";
  }
  .mainindex .notasPrincipales h1 {
    margin-bottom: 2rem;
  }
  .mainindex .notasPrincipales .nota {
    display: flex;
    margin-bottom: 3rem;
    height: auto;
  }
  .mainindex .notasPrincipales .nota .imgboxizq {
    display: inline-block;
    border-radius: 10px;
  }
  .mainindex .notasPrincipales .nota .Pnota {
    font-size: 14px;
    -webkit-line-clamp: 4;
  }
  .mainindex .notasPrincipales .nota .linkboxderPadre1 {
    margin: 0rem;
  }
  .mainindex .notasPrincipales .nota .linkboxderPadre2 {
    margin: 0rem;
  }
  .mainindex .notasPrincipales .nota:hover {
    display: flex;
    background-color: #c0b19d;
    border-radius: 1rem;
  }
  .mainindex .notasPrincipales .nota:hover .imgboxizq {
    display: inline-block;
    border-radius: 1rem 0rem 0rem 1rem;
  }
  .mainindex .boxDerecha {
    grid-area: miniaturas;
  }
  .mainindex .boxDerecha .tituloimgpodcast {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    margin: 0rem;
    font-size: 1.3rem;
  }
  .mainindex .boxDerecha .tituloimgpodcast a {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .mainindex .boxDerecha .tituloimgpodcast a .elemDer {
    margin: 0;
    width: 10rem;
  }
  .mainindex .boxDerecha .listaprogramas {
    margin-top: 0.8rem;
  }
  .mainindex .boxDerecha .listaprogramas .elemlistaprogrmas p {
    font-size: 1.1rem;
  }
  .mainindex .boxDerecha .listaprogramas .elemlistaprogrmas:hover {
    font-size: 10px;
    font-family: "Helvetica";
    font-weight: bold;
    background-color: #cdbdaa;
    padding: 0.8rem;
    border-radius: 1rem;
  }
  .mainindex .colaborar {
    margin: 5rem 0rem 0rem 0rem;
    height: auto;
    grid-area: colaborar;
  }
}
/* Tablet */
@media screen and (min-width: 880px) and (max-width: 1023px) {
  .mainindex {
    padding-top: 10rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35% 35% 30%;
    grid-template-areas: "noticias" "miniaturas" "colaborar";
  }
  .mainindex .notasPrincipales {
    padding-right: 0rem;
    justify-content: space-around;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .mainindex .notasPrincipales h1 {
    margin-top: 5rem;
  }
  .mainindex .notasPrincipales .nota {
    margin: 1.5rem 0rem;
  }
  .mainindex .notasPrincipales .nota .imgboxizq {
    height: 16.7rem;
    width: 25.3rem;
  }
  .mainindex .notasPrincipales .nota .boxPizq {
    padding-right: 0.5rem;
  }
  .mainindex .notasPrincipales .nota .boxPizq .Pnota {
    font-size: 1.3rem;
    -webkit-line-clamp: 3;
  }
  .mainindex .notasPrincipales .nota .boxPizq .linkboxderPadre1 {
    margin: 0rem 2rem 0rem 0rem;
  }
  .mainindex .notasPrincipales .nota .boxPizq .linkboxderPadre2 {
    margin: 0rem;
  }
  .mainindex .notasPrincipales .nota:hover {
    display: flex;
    background-color: #c0b19d;
    border-radius: 1rem;
  }
  .mainindex .notasPrincipales .nota:hover .imgboxizq {
    display: inline-block;
    border-radius: 1rem 0rem 0rem 1rem;
    height: 16.7rem;
    width: 25.3rem;
  }
  .mainindex .boxDerecha {
    height: fit-content;
    padding-bottom: 2.4rem;
    margin-top: 6rem;
  }
  .mainindex .colaborar {
    margin: 3rem 0rem 0rem 0rem;
    background-color: #cdbdaa;
    padding: 0rem 1rem;
    height: auto;
  }
  .mainindex .colaborar .pColab {
    font-size: 1.3rem;
  }
  .mainindex .colaborar .botoncolab {
    margin: 4rem 2rem 0rem 0rem;
  }
  .mainindex .colaborar .botoncolab .aColab {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 879px) {
  .mainindex {
    padding: 14rem 6rem 3rem 6rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35% 35% 30%;
    grid-template-areas: "noticias" "miniaturas" "colaborar";
  }
  .mainindex .notasPrincipales {
    padding-right: 0rem;
    justify-content: space-around;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .mainindex .notasPrincipales h1 {
    margin-top: 5rem;
  }
  .mainindex .notasPrincipales .nota {
    margin: 1.5rem 0rem;
  }
  .mainindex .notasPrincipales .nota .imgboxizq {
    height: 16.7rem;
    width: 25.3rem;
  }
  .mainindex .notasPrincipales .nota .boxPizq {
    padding-right: 0.5rem;
  }
  .mainindex .notasPrincipales .nota .boxPizq .Pnota {
    font-size: 1.3rem;
    -webkit-line-clamp: 3;
  }
  .mainindex .notasPrincipales .nota .boxPizq .linkboxderPadre1 {
    margin: 0rem 2rem 0rem 0rem;
  }
  .mainindex .notasPrincipales .nota .boxPizq .linkboxderPadre2 {
    margin: 0rem;
  }
  .mainindex .notasPrincipales .nota:hover {
    display: flex;
    background-color: #c0b19d;
    border-radius: 1rem;
  }
  .mainindex .notasPrincipales .nota:hover .imgboxizq {
    display: inline-block;
    border-radius: 1rem 0rem 0rem 1rem;
    height: 16.7rem;
    width: 25.3rem;
  }
  .mainindex .boxDerecha {
    height: fit-content;
    padding-bottom: 2.4rem;
    margin-top: 6rem;
  }
  .mainindex .colaborar {
    margin: 3rem 0rem 0rem 0rem;
    background-color: #cdbdaa;
    padding: 0rem 1rem;
    height: auto;
  }
  .mainindex .colaborar .pColab {
    font-size: 1.3rem;
  }
  .mainindex .colaborar .botoncolab {
    margin: 4rem 2rem 0rem 0rem;
  }
  .mainindex .colaborar .botoncolab .aColab {
    font-size: 1.6rem;
  }
}
/* Mobile S-M-L */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .mainindex {
    display: flex;
    flex-direction: column;
    padding: 14rem 3rem 3rem 3rem;
  }
  .mainindex .notasPrincipales {
    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-direction: column;
  }
  .mainindex .notasPrincipales h1 {
    margin-bottom: 2rem;
  }
  .mainindex .notasPrincipales .nota {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.2rem;
  }
  .mainindex .notasPrincipales .nota .imgboxizq {
    height: 25rem;
    width: 100%;
  }
  .mainindex .notasPrincipales .nota .boxPizq {
    padding: 2rem 1.5rem;
  }
  .mainindex .notasPrincipales .nota .boxPizq .Pnota {
    font-size: 1.3rem;
    -webkit-line-clamp: 3;
  }
  .mainindex .notasPrincipales .nota .boxPizq .linkboxderPadre1 {
    margin: 0rem;
  }
  .mainindex .notasPrincipales .nota .boxPizq .linkboxderPadre2 {
    margin: 0rem;
  }
  .mainindex .notasPrincipales .nota:hover .imgboxizq {
    display: inline-block;
    border-radius: 1rem 1rem 0rem 0rem;
    height: 25rem;
    width: 100%;
  }
  .mainindex .boxDerecha {
    height: fit-content;
    padding-bottom: 2.4rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
  .mainindex .colaborar {
    margin: 2rem 0rem 0rem 0rem;
    background-color: #cdbdaa;
    padding: 0rem 1rem;
    height: auto;
  }
  .mainindex .colaborar .pColab {
    font-size: 1.4rem;
  }
  .mainindex .colaborar .botoncolab {
    margin: 0rem 2rem 0rem 0rem;
  }
  .mainindex .colaborar .botoncolab .aColab {
    font-size: 1.6rem;
  }
}
/* Mobile L */
@media screen and (min-width: 550px) and (max-width: 767px) {
  .mainindex {
    display: flex;
    flex-direction: column;
    padding: 14rem 3rem 3rem 3rem;
  }
  .mainindex .notasPrincipales {
    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-direction: column;
  }
  .mainindex .notasPrincipales h1 {
    margin-bottom: 2rem;
  }
  .mainindex .notasPrincipales .nota {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.2rem;
  }
  .mainindex .notasPrincipales .nota .imgboxizq {
    height: 40rem;
    width: 100%;
  }
  .mainindex .notasPrincipales .nota .boxPizq {
    padding: 2rem 1.5rem;
  }
  .mainindex .notasPrincipales .nota .boxPizq .Pnota {
    font-size: 1.3rem;
    -webkit-line-clamp: 3;
  }
  .mainindex .notasPrincipales .nota .boxPizq .linkboxderPadre1 {
    margin: 0rem;
  }
  .mainindex .notasPrincipales .nota .boxPizq .linkboxderPadre2 {
    margin: 0rem;
  }
  .mainindex .notasPrincipales .nota:hover .imgboxizq {
    display: inline-block;
    border-radius: 1rem 1rem 0rem 0rem;
    height: 40rem;
    width: 100%;
  }
  .mainindex .boxDerecha {
    height: fit-content;
    padding-bottom: 2.4rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
  .mainindex .colaborar {
    margin: 2rem 0rem 0rem 0rem;
    background-color: #cdbdaa;
    padding: 0rem 1rem;
    height: auto;
  }
  .mainindex .colaborar .pColab {
    font-size: 1.4rem;
  }
  .mainindex .colaborar .botoncolab {
    margin: 0rem 2rem 0rem 0rem;
  }
  .mainindex .colaborar .botoncolab .aColab {
    font-size: 1.6rem;
  }
}
/* Mobile M */
@media screen and (min-width: 375px) and (max-width: 424px) {
  .nota {
    margin-bottom: 2rem;
  }
}
/* Mobile S */
@media screen and (min-width: 320px) and (max-width: 374px) {
  .nota {
    margin-bottom: 1.5rem;
  }
}
/* Podcast */
.podcast {
  display: block;
  padding: 5rem;
  background-color: #c0b19d;
  border-radius: 1rem;
}
.podcast .Tpodcast {
  display: inline-block;
  padding-bottom: 1.8rem;
}
.podcast .Ppodcast {
  margin-bottom: 5rem;
}
.podcast .boton {
  display: flex;
  justify-content: end;
}
.podcast .boton .escuchar {
  padding: 10px 20px;
  background-color: #55694a;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s;
}
.podcast .boton .escuchar:hover {
  background-color: #2a481b;
}

/* Mapa y Territorio */
.proyectospreviostitulo {
  display: flex;
  padding: 8rem 0rem 3rem 1rem;
  justify-content: center;
  font-style: italic;
}

.MyT {
  display: flex;
  margin-bottom: 7rem;
}
.MyT .MyTt {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  border-radius: 1rem;
  height: 30rem;
  background-image: url(../multimedia/mtdibujo.jpeg);
  background-size: cover;
  background-repeat: none;
  background-position: center;
}
.MyT .MyTt .titulo {
  width: 45rem;
  height: 9rem;
}
.MyT .MyTp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.MyT .botonleer {
  display: flex;
  justify-content: end;
  padding-right: 5rem;
}
.MyT .botonleer .leer {
  padding: 10px 20px;
  background-color: #55694a;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s;
}
.MyT .botonleer .leer:hover {
  background-color: #2a481b;
}

/* 1024-1280px */
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .mainproyectos {
    padding: 10rem 6rem 6rem 6rem;
  }
  .mainproyectos .podcast {
    margin-top: 3rem;
  }
  .mainproyectos .MyTt {
    height: auto;
  }
}
/* Mobile L y Tablet */
@media screen and (min-width: 880px) and (max-width: 1023px) {
  .mainproyectos {
    padding: 10rem 6rem 6rem 6rem;
  }
}
@media screen and (min-width: 764px) and (max-width: 879px) {
  .mainproyectos {
    padding: 14rem 6rem 6rem 6rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .podcast {
    margin-top: 3rem;
  }
  .MyT {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .MyT .MyTp {
    padding: 4rem 1rem;
  }
}
/* Mobile L */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .mainproyectos {
    padding: 14rem 6rem 6rem 6rem;
  }
  .mainproyectos .MyT {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .mainproyectos .MyT .MyTt .titulo {
    width: 100%;
  }
}
/* Mobile S */
@media screen and (min-width: 320px) and (max-width: 375px) {
  .mainproyectos {
    padding: 12rem 4rem 6rem 4rem;
  }
  .mainproyectos .proyectospreviostitulo {
    padding: 0rem;
    margin: 4rem 0rem 3rem 0rem;
    text-align: center;
  }
}
.mainnosotros {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: 16% repeat(4, 21%);
  column-gap: 2%;
  grid-template-areas: "quienes quienes" "miembro1 miembro2" "miembro3 miembro4" "miembro5 miembro6" "miembro7 miembro7";
}
.mainnosotros .quienes {
  grid-area: quienes;
  padding: 2rem 7rem;
  margin-bottom: 14rem;
}
.mainnosotros .miembro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.mainnosotros .miembro .miembro1 {
  display: block;
  flex-direction: column;
  background-color: #c0b19d;
  width: auto;
  border-radius: 10px;
  grid-area: miembro1;
}
.mainnosotros .miembro .miembro1 .nombreCargo {
  display: block;
  padding: 1.6rem;
}
.mainnosotros .miembro .miembro1 .nombreCargo .cargo {
  display: block;
  padding-top: 0.3rem;
}
.mainnosotros .miembro .miembro1 .imgparrafo {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.6rem;
}
.mainnosotros .miembro .miembro1 .imgparrafo .nosotrosimg {
  margin-left: 1.6rem;
  height: 15rem;
  width: 15rem;
  border-radius: 10px;
}
.mainnosotros .miembro .miembro1 .imgparrafo .nosotrosp {
  padding: 0rem 1.6rem;
}
.mainnosotros .miembro .miembro2 {
  display: block;
  flex-direction: column;
  background-color: #c0b19d;
  width: auto;
  border-radius: 10px;
  grid-area: miembro2;
}
.mainnosotros .miembro .miembro2 .nombreCargo {
  display: block;
  padding: 1.6rem;
}
.mainnosotros .miembro .miembro2 .nombreCargo .cargo {
  display: block;
  padding-top: 0.3rem;
}
.mainnosotros .miembro .miembro2 .imgparrafo {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.6rem;
}
.mainnosotros .miembro .miembro2 .imgparrafo .nosotrosimg {
  margin-left: 1.6rem;
  height: 15rem;
  width: 15rem;
  border-radius: 10px;
}
.mainnosotros .miembro .miembro2 .imgparrafo .nosotrosp {
  padding: 0rem 1.6rem;
}
.mainnosotros .miembro .miembro3 {
  display: block;
  flex-direction: column;
  background-color: #c0b19d;
  width: auto;
  border-radius: 10px;
  grid-area: miembro3;
}
.mainnosotros .miembro .miembro3 .nombreCargo {
  display: block;
  padding: 1.6rem;
}
.mainnosotros .miembro .miembro3 .nombreCargo .cargo {
  display: block;
  padding-top: 0.3rem;
}
.mainnosotros .miembro .miembro3 .imgparrafo {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.6rem;
}
.mainnosotros .miembro .miembro3 .imgparrafo .nosotrosimg {
  margin-left: 1.6rem;
  height: 15rem;
  width: 15rem;
  border-radius: 10px;
}
.mainnosotros .miembro .miembro3 .imgparrafo .nosotrosp {
  padding: 0rem 1.6rem;
}
.mainnosotros .miembro .miembro4 {
  display: block;
  flex-direction: column;
  background-color: #c0b19d;
  width: auto;
  border-radius: 10px;
  grid-area: miembro4;
}
.mainnosotros .miembro .miembro4 .nombreCargo {
  display: block;
  padding: 1.6rem;
}
.mainnosotros .miembro .miembro4 .nombreCargo .cargo {
  display: block;
  padding-top: 0.3rem;
}
.mainnosotros .miembro .miembro4 .imgparrafo {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.6rem;
}
.mainnosotros .miembro .miembro4 .imgparrafo .nosotrosimg {
  margin-left: 1.6rem;
  height: 15rem;
  width: 15rem;
  border-radius: 10px;
}
.mainnosotros .miembro .miembro4 .imgparrafo .nosotrosp {
  padding: 0rem 1.6rem;
}
.mainnosotros .miembro .miembro5 {
  display: block;
  flex-direction: column;
  background-color: #c0b19d;
  width: auto;
  border-radius: 10px;
  grid-area: miembro5;
}
.mainnosotros .miembro .miembro5 .nombreCargo {
  display: block;
  padding: 1.6rem;
}
.mainnosotros .miembro .miembro5 .nombreCargo .cargo {
  display: block;
  padding-top: 0.3rem;
}
.mainnosotros .miembro .miembro5 .imgparrafo {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.6rem;
}
.mainnosotros .miembro .miembro5 .imgparrafo .nosotrosimg {
  margin-left: 1.6rem;
  height: 15rem;
  width: 15rem;
  border-radius: 10px;
}
.mainnosotros .miembro .miembro5 .imgparrafo .nosotrosp {
  padding: 0rem 1.6rem;
}
.mainnosotros .miembro .miembro6 {
  display: block;
  flex-direction: column;
  background-color: #c0b19d;
  width: auto;
  border-radius: 10px;
  grid-area: miembro6;
}
.mainnosotros .miembro .miembro6 .nombreCargo {
  display: block;
  padding: 1.6rem;
}
.mainnosotros .miembro .miembro6 .nombreCargo .cargo {
  display: block;
  padding-top: 0.3rem;
}
.mainnosotros .miembro .miembro6 .imgparrafo {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.6rem;
}
.mainnosotros .miembro .miembro6 .imgparrafo .nosotrosimg {
  margin-left: 1.6rem;
  height: 15rem;
  width: 15rem;
  border-radius: 10px;
}
.mainnosotros .miembro .miembro6 .imgparrafo .nosotrosp {
  padding: 0rem 1.6rem;
}
.mainnosotros .miembro71 {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.mainnosotros .miembro71 .miembro7 {
  display: block;
  flex-direction: column;
  background-color: #c0b19d;
  width: auto;
  border-radius: 10px;
  grid-area: miembro7;
}
.mainnosotros .miembro71 .miembro7 .nombreCargo {
  display: block;
  padding: 1.6rem;
}
.mainnosotros .miembro71 .miembro7 .nombreCargo .cargo {
  display: block;
  padding-top: 0.3rem;
}
.mainnosotros .miembro71 .miembro7 .imgparrafo {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.6rem;
}
.mainnosotros .miembro71 .miembro7 .imgparrafo .nosotrosimg {
  margin-left: 1.6rem;
  height: 15rem;
  width: 15rem;
  border-radius: 10px;
}
.mainnosotros .miembro71 .miembro7 .imgparrafo .nosotrosp {
  padding: 0rem 1.6rem;
}

/* MEDIA QUERYS */
/* Tablet */
@media screen and (min-width: 880px) and (max-width: 1023px) {
  .mainnosotros {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
  }
  .mainnosotros .quienes {
    margin-bottom: 7rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 879px) {
  .mainnosotros {
    display: flex;
    flex-direction: column;
    padding: 16rem 6rem 3rem 6rem;
  }
  .mainnosotros .quienes {
    margin-bottom: 7rem;
  }
}
/* 740px - 767px */
@media screen and (min-width: 740px) and (max-width: 767px) {
  .mainnosotros {
    display: flex;
    flex-direction: column;
    padding: 14rem 6rem 3rem 6rem;
  }
  .mainnosotros .quienes {
    margin-bottom: 6rem;
    padding: 3rem 2rem 0rem 2rem;
  }
  .mainnosotros .miembro .miembro1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro1 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro1 .imgparrafo .nosotrosimg {
    height: 60rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro2 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro2 .imgparrafo .nosotrosimg {
    height: 60rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro3 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro3 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro3 .imgparrafo .nosotrosimg {
    height: 60rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro4 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro4 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro4 .imgparrafo .nosotrosimg {
    height: 60rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro5 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro5 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro5 .imgparrafo .nosotrosimg {
    height: 60rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro6 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro6 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro6 .imgparrafo .nosotrosimg {
    height: 60rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro71 .miembro7 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro71 .miembro7 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro71 .miembro7 .imgparrafo .nosotrosimg {
    height: 60rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
}
/* 680px - 739px */
@media screen and (min-width: 680px) and (max-width: 739px) {
  .mainnosotros {
    display: flex;
    flex-direction: column;
    padding: 14rem 6rem 3rem 6rem;
  }
  .mainnosotros .quienes {
    margin-bottom: 6rem;
    padding: 3rem 2rem 0rem 2rem;
  }
  .mainnosotros .miembro .miembro1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro1 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro1 .imgparrafo .nosotrosimg {
    height: 55rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro2 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro2 .imgparrafo .nosotrosimg {
    height: 55rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro3 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro3 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro3 .imgparrafo .nosotrosimg {
    height: 55rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro4 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro4 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro4 .imgparrafo .nosotrosimg {
    height: 55rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro5 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro5 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro5 .imgparrafo .nosotrosimg {
    height: 55rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro6 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro6 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro6 .imgparrafo .nosotrosimg {
    height: 55rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro71 .miembro7 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro71 .miembro7 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro71 .miembro7 .imgparrafo .nosotrosimg {
    height: 55rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
}
/* 615px - 679px */
@media screen and (min-width: 615px) and (max-width: 679px) {
  .mainnosotros {
    display: flex;
    flex-direction: column;
    padding: 14rem 6rem 3rem 6rem;
  }
  .mainnosotros .quienes {
    margin-bottom: 6rem;
    padding: 3rem 2rem 0rem 2rem;
  }
  .mainnosotros .miembro .miembro1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro1 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro1 .imgparrafo .nosotrosimg {
    height: 50rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro2 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro2 .imgparrafo .nosotrosimg {
    height: 50rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro3 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro3 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro3 .imgparrafo .nosotrosimg {
    height: 50rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro4 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro4 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro4 .imgparrafo .nosotrosimg {
    height: 50rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro5 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro5 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro5 .imgparrafo .nosotrosimg {
    height: 50rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro6 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro6 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro6 .imgparrafo .nosotrosimg {
    height: 50rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro71 .miembro7 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro71 .miembro7 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro71 .miembro7 .imgparrafo .nosotrosimg {
    height: 50rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
}
/* 550px - 614px */
@media screen and (min-width: 550px) and (max-width: 614px) {
  .mainnosotros {
    display: flex;
    flex-direction: column;
    padding: 14rem 6rem 3rem 6rem;
  }
  .mainnosotros .quienes {
    margin-bottom: 6rem;
    padding: 3rem 2rem 0rem 2rem;
  }
  .mainnosotros .miembro .miembro1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro1 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro1 .imgparrafo .nosotrosimg {
    height: 45rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro2 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro2 .imgparrafo .nosotrosimg {
    height: 45rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro3 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro3 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro3 .imgparrafo .nosotrosimg {
    height: 45rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro4 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro4 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro4 .imgparrafo .nosotrosimg {
    height: 45rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro5 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro5 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro5 .imgparrafo .nosotrosimg {
    height: 45rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro6 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro6 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro6 .imgparrafo .nosotrosimg {
    height: 45rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro71 .miembro7 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro71 .miembro7 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro71 .miembro7 .imgparrafo .nosotrosimg {
    height: 45rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
}
/* 490px - 549px  */
@media screen and (min-width: 490px) and (max-width: 549px) {
  .mainnosotros {
    display: flex;
    flex-direction: column;
    padding: 12rem 4rem 3rem 4rem;
  }
  .mainnosotros .quienes {
    margin-bottom: 6rem;
    padding: 3rem 2rem 0rem 2rem;
  }
  .mainnosotros .miembro .miembro1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro1 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro1 .imgparrafo .nosotrosimg {
    height: 34rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro2 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro2 .imgparrafo .nosotrosimg {
    height: 34rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro3 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro3 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro3 .imgparrafo .nosotrosimg {
    height: 34rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro4 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro4 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro4 .imgparrafo .nosotrosimg {
    height: 34rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro5 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro5 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro5 .imgparrafo .nosotrosimg {
    height: 34rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro .miembro6 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro .miembro6 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro6 .imgparrafo .nosotrosimg {
    height: 34rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
  .mainnosotros .miembro71 .miembro7 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mainnosotros .miembro71 .miembro7 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro71 .miembro7 .imgparrafo .nosotrosimg {
    height: 34rem;
    width: auto;
    margin: 0rem 1.6rem 1.6rem 1.6rem;
  }
}
/* 459px - 489px */
@media screen and (min-width: 459px) and (max-width: 489px) {
  .mainnosotros {
    display: flex;
    flex-direction: column;
    padding: 12rem 4rem 3rem 4rem;
  }
  .mainnosotros .quienes {
    margin-bottom: 6rem;
    padding: 3rem 2rem 0rem 2rem;
  }
  .mainnosotros .miembro .miembro1 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro1 .imgparrafo .nosotrosimg {
    height: 30rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
  .mainnosotros .miembro .miembro2 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro2 .imgparrafo .nosotrosimg {
    height: 30rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
  .mainnosotros .miembro .miembro3 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro3 .imgparrafo .nosotrosimg {
    height: 30rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
  .mainnosotros .miembro .miembro4 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro4 .imgparrafo .nosotrosimg {
    height: 30rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
  .mainnosotros .miembro .miembro5 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro5 .imgparrafo .nosotrosimg {
    height: 30rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
  .mainnosotros .miembro .miembro6 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro6 .imgparrafo .nosotrosimg {
    height: 30rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
  .mainnosotros .miembro71 .miembro7 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro71 .miembro7 .imgparrafo .nosotrosimg {
    height: 30rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
}
/* 375px - 459px */
@media screen and (min-width: 375px) and (max-width: 459px) {
  .mainnosotros {
    display: flex;
    flex-direction: column;
    padding: 12rem 2rem 3rem 2rem;
  }
  .mainnosotros .quienes {
    margin-bottom: 6rem;
    padding: 3rem 2rem 0rem 2rem;
  }
  .mainnosotros .miembro .miembro1 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro1 .imgparrafo .nosotrosimg {
    height: 25rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
  .mainnosotros .miembro .miembro2 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro2 .imgparrafo .nosotrosimg {
    height: 25rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
  .mainnosotros .miembro .miembro3 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro3 .imgparrafo .nosotrosimg {
    height: 25rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
  .mainnosotros .miembro .miembro4 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro4 .imgparrafo .nosotrosimg {
    height: 25rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
  .mainnosotros .miembro .miembro5 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro5 .imgparrafo .nosotrosimg {
    height: 25rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
  .mainnosotros .miembro .miembro6 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro6 .imgparrafo .nosotrosimg {
    height: 25rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
  .mainnosotros .miembro71 .miembro7 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro71 .miembro7 .imgparrafo .nosotrosimg {
    height: 25rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
}
/* 320px - 374px */
@media screen and (min-width: 320px) and (max-width: 374px) {
  .mainnosotros {
    display: flex;
    flex-direction: column;
    padding: 12rem 2rem 3rem 2rem;
  }
  .mainnosotros .quienes {
    margin-bottom: 6rem;
    padding: 3rem 2rem 0rem 2rem;
  }
  .mainnosotros .miembro .miembro1 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro1 .imgparrafo .nosotrosimg {
    height: 20rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
  .mainnosotros .miembro .miembro2 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro2 .imgparrafo .nosotrosimg {
    height: 20rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
  .mainnosotros .miembro .miembro3 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro3 .imgparrafo .nosotrosimg {
    height: 20rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
  .mainnosotros .miembro .miembro4 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro4 .imgparrafo .nosotrosimg {
    height: 20rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
  .mainnosotros .miembro .miembro5 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro5 .imgparrafo .nosotrosimg {
    height: 20rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
  .mainnosotros .miembro .miembro6 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro .miembro6 .imgparrafo .nosotrosimg {
    height: 20rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
  .mainnosotros .miembro71 .miembro7 .imgparrafo {
    display: flex;
    flex-direction: column;
  }
  .mainnosotros .miembro71 .miembro7 .imgparrafo .nosotrosimg {
    height: 20rem;
    width: auto;
    margin: 0rem 2rem 1.6rem 2rem;
  }
}
/* Última nota */
.notaprincipal {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 8rem;
  background-color: #c0b19d;
}
.notaprincipal .ultimanota {
  display: flex;
  flex-direction: column;
  margin: 2.4rem;
  justify-content: space-between;
}
.notaprincipal .ultimanota .autor1 {
  display: inline-block;
  padding-bottom: 1.2rem;
}
.notaprincipal .ultimanota p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.notaprincipal .ultimanota .linkultimanota {
  display: flex;
  justify-content: end;
  color: #55694a;
  margin-bottom: 3rem;
  transition: font-size 0.3s;
}
.notaprincipal .ultimanota .linkultimanota:hover {
  font-weight: bold;
  font-size: 10.5px;
}
.notaprincipal .imgnota1 {
  height: 25.4rem;
  width: 55rem;
  border-radius: 10px;
  margin: 2.4rem;
}

/* Miniaturas otras notas */
.miniaturas {
  display: flex;
  margin-bottom: 8rem;
  justify-content: space-between;
}
.miniaturas .miniaturabox {
  width: 33.5rem;
  height: 43rem;
  transition: box-shadow 0.2s, background-color 0.2s;
}
.miniaturas .miniaturabox .imgminiaturas2 {
  width: 33.5rem;
  height: 20.4rem;
  background-image: url(../multimedia/arqueo1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.8rem;
  transition: border-radius 0.2s;
}
.miniaturas .miniaturabox .imgminiaturas3 {
  width: 33.5rem;
  height: 20.4rem;
  background-image: url(../multimedia/espantapajaros.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.8rem;
  transition: border-radius 0.2s;
}
.miniaturas .miniaturabox .imgminiaturas4 {
  width: 33.5rem;
  height: 20.4rem;
  background-image: url(../multimedia/inuit.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.8rem;
  transition: border-radius 0.2s;
}
.miniaturas .miniaturabox .imgminiaturas5 {
  width: 33.5rem;
  height: 20.4rem;
  background-image: url(../multimedia/jose.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.8rem;
  transition: border-radius 0.2s;
}
.miniaturas .miniaturabox .imgminiaturas6 {
  width: 33.5rem;
  height: 20.4rem;
  background-image: url(../multimedia/mtdibujo.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.8rem;
  transition: border-radius 0.2s;
}
.miniaturas .miniaturabox .imgminiaturas7 {
  width: 33.5rem;
  height: 20.4rem;
  background-image: url(../multimedia/ceramistas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.8rem;
  transition: border-radius 0.2s;
}
.miniaturas .miniaturabox .miniaturatext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20rem;
  margin: 1rem 1rem 0rem 1rem;
  padding: 1rem 0.5rem 0rem 0.5rem;
}
.miniaturas .miniaturabox .miniaturatext .miniaturadesc {
  height: 14.5rem;
  overflow: hidden;
}
.miniaturas .miniaturabox .miniaturatext .miniaturadesc .titulomini {
  font-size: medium;
}
.miniaturas .miniaturabox .miniaturatext .miniaturadesc .autormini {
  padding: 0.2rem 0rem;
  font-weight: 100;
  font-size: 1.4rem;
}
.miniaturas .miniaturabox .miniaturatext .miniaturadesc p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.miniaturas .miniaturabox .miniaturatext .linkminiatura {
  display: flex;
  justify-content: end;
  color: #55694a;
}
.miniaturas .miniaturabox:hover {
  width: 33.5rem;
  height: 43rem;
  background-color: #beaf9c;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px rgb(135, 134, 134);
}
.miniaturas .miniaturabox:hover .imgminiaturas2 {
  border-radius: 0.8rem 0.8rem 0rem 0rem;
}
.miniaturas .miniaturabox:hover .imgminiaturas3 {
  border-radius: 0.8rem 0.8rem 0rem 0rem;
}
.miniaturas .miniaturabox:hover .imgminiaturas4 {
  border-radius: 0.8rem 0.8rem 0rem 0rem;
}
.miniaturas .miniaturabox:hover .imgminiaturas5 {
  border-radius: 0.8rem 0.8rem 0rem 0rem;
}
.miniaturas .miniaturabox:hover .imgminiaturas6 {
  border-radius: 0.8rem 0.8rem 0rem 0rem;
}
.miniaturas .miniaturabox:hover .imgminiaturas7 {
  border-radius: 0.8rem 0.8rem 0rem 0rem;
}

.paginas {
  display: flex;
  justify-content: center;
  font-size: medium;
}
.paginas .paginasinf {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-color: #55694a;
  width: 20rem;
  height: 3rem;
  border-radius: 1rem;
}
.paginas .paginasinf .numpagina {
  width: 2rem;
  display: flex;
  justify-content: center;
}
.paginas .paginasinf .numpagina:hover {
  width: 2rem;
  display: flex;
  justify-content: center;
  background-color: #738467;
  border-radius: 1rem;
}
.paginas .paginasinf #puntitos {
  color: #cdbdaa;
}

.mainsumate {
  padding-left: 0rem;
  padding-right: 0rem;
}
.mainsumate .accion1 {
  margin-bottom: 6rem;
  padding: 0rem 16rem;
}
.mainsumate .accion1 .acciontitulo {
  display: block;
  margin-bottom: 3rem;
}
.mainsumate .accion1 .botoncolab {
  display: flex;
  justify-content: flex-end;
}
.mainsumate .accion1 .botoncolab .aColab {
  margin-top: 5rem;
  padding: 1rem 2rem;
  background-color: #55694a;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s;
}
.mainsumate .accion1 .botoncolab .aColab:hover {
  background-color: #2a481b;
}
.mainsumate .mision {
  height: fit-content;
  background-color: #62625f;
  background-image: url(../multimedia/mtdibujo.jpeg);
  background-blend-mode: soft-light;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 16rem;
  margin-bottom: 6rem;
  box-shadow: 0px 5px 20px rgb(62, 62, 62);
}
.mainsumate .mision .misiontitulo {
  display: flex;
  justify-content: end;
}
.mainsumate .mision .misionP {
  background-color: #c0b19d;
  width: 70rem;
  height: fit-content;
  padding: 3rem 5rem;
  position: relative;
  top: 11rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 100px rgb(85, 85, 85);
}
.mainsumate .mision .misionP .misioncolor {
  color: #271702;
}
.mainsumate .beneficios {
  padding: 6rem 16rem;
  margin-top: 5rem;
}
.mainsumate .beneficios .beneficiostitulo {
  display: block;
  margin-bottom: 3rem;
}
.mainsumate .beneficios .ulaportantes {
  list-style-type: decimal;
  font-size: large;
  color: #271702;
  font-family: "Helvetica";
  padding-left: 2rem;
}
.mainsumate .beneficios .ulaportantes .liaportantes {
  margin-bottom: 1rem;
}
.mainsumate .botonMP {
  display: flex;
  justify-content: end;
  padding: 0rem 16rem 6rem 0rem;
}
.mainsumate .botonMP .MercP {
  height: 7rem;
  width: auto;
  background-color: #55694a;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 2rem;
  transition: background-color 0.3s;
}
.mainsumate .botonMP .MercP:hover {
  background-color: #2a481b;
}

/*# sourceMappingURL=estilos.css.map */
