/* CONFIG PARA TODAS LAS PAGINAS */

*{    
    margin: 0;   
    padding: 0;
}

html{
    font-size: 62.5%;
}

h1{
    color:$color-principal;
    display: inline-block;
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    margin-top: 0.5rem
}

h2{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $negro;
    font-weight: bold;
    
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: $color-secundario1;
    font-weight: bold;
}

h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $negro;
    font-weight: bold;
}

p{
    font-size: medium;
    font-family: 'Helvetica';
    color:$color-secundario1;   
}

a{
    font-family: 'Helvetica';
    text-decoration:none;
    color:$color-principal;
}

/* Header */

header{
    position:fixed;
    width: 100%;
    z-index: 2;
    
    .headergral{
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 8rem;
        background-color: $color-secundario1;
        box-shadow: 0px 1px 20px rgb(62, 62, 62);
        .argonautas1{
            display:flex;
            align-items:center;
            
            .logo{
                width: 5rem;
                height: 5rem;
                display: inline-block;
                margin: 10px 0px 10px 10px;
            }
            h1{
                white-space: nowrap;
            }
        }
    nav{
            display:inline-block;
            .mainul{
                list-style-type: none;
                margin-top: 1rem;
                display: flex;
                flex-direction: row;
                .mainli{
                    display: block;
                    font-size: small;
                    font-family: 'Helvetica';
                    padding: 0rem 0.8rem;
                    .selected{
                        display: inline-block;
                        &::after{
                            content: '';
                            height: 3px;
                            background:$color-principal;
                            border-radius: 10px;
                            display: block;
                            
                        }
                    }
                }
            }
        }
    }
}

/* Main */

main{
    background-color: $color-secundario2;
    padding: 12rem 6rem 6rem 12rem;
}

/* Footer */

footer{
    background-color: $color-secundario1;
    height: 4rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 8rem;
    box-shadow: 0px 1px 20px rgb(91, 91, 91);
    .pfooter{
        display:inline-block;
        margin-top: 1rem;
        color: $color-secundario2;
        font-size: small;   
    }
    .imgfooter{
        display: flex;
        justify-content: end;
        .imgf{
            display:inline-block;
            height: 2rem;
            padding-left: 1rem;
        }
        .imgf2{
            display:inline-block;
            height: 1.9rem;
            padding-left: 0.8rem;
        }
    }
}


/* MEDIA QUERYS */


/* 1024px-1339px */

@media screen and (min-width: 1024px) and (max-width:1439px){
    
    h4{
        font-size: 14px; 
    }
    
    /* Header */
    
    .argonautas1 {
        flex: 1;
    }
    
    .navbar {
        flex: 1;
        .collapse{
            display: flex;
            justify-content: end;
        }
    }

    /* Main */

    main{
        background-color: $color-secundario2;
        padding: 12rem 6rem 6rem 6rem;
    }

    /* Footer */

    .pfooter{
        width: fit-content;
    }
    .imgfooter{
        width: fit-content;
    }
}

/* Tablet */

@media screen and (min-width: 880px) and (max-width:1023px){
    
    h4{
        font-size: 14px; 
    }
    
    /* Header */
    
    .headergral{
        .argonautas1 {
            flex: 1;
        }
        .navbar {
            flex: 1;
            .collapse{
                display: flex;
                justify-content: end;
            }
        }
    }    

    /* Main */

    main{
        background-color: $color-secundario2;
        padding: 3rem 6rem;
    }

    /* Footer */

    .pfooter{
        width: fit-content;
    }
    .imgfooter{
        width: fit-content;
    }
}

@media screen and (min-width: 768px) and (max-width:879px){
        .headergral{
            flex-direction: column;
            padding-top: 14rem;
        }
        .pfooter{
            width: fit-content;
        }
        .imgfooter{
            width: fit-content;
        }
}

/* Mobile S-M-L */

@media screen and (min-width: 320px) and (max-width:767px){

    /* Header */
    .headergral{
        padding: 0rem;
        display: flex;
        flex-direction: column;
        .argonautas1 {
            width: fit-content;
            grid-area: logo;
            .logo{
                margin-bottom: 0rem;
            }
        }
        .navbar {
            width: fit-content;
            display: flex;
            flex-direction: column;
            .navbar-toggler{
                border-style:none;
            }
            .collapse{
                .mainul{
                    margin-bottom:1rem;
                    padding:0rem;
                }
            }
        }
    }

    /* Main */

    main{
        padding: 2.4rem;
    }

    /* Footer */
    
    footer{
        padding: 0rem 3rem;
        .pfooter{
            width: fit-content;
            font-size: 10px;
        }
        .imgfooter{
            width: fit-content;
        }
    }
}