
.mainnosotros{
    
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 16% repeat(4, 21%);
    column-gap: 2%;
    grid-template-areas:
    "quienes quienes" 
    "miembro1 miembro2"
    "miembro3 miembro4"
    "miembro5 miembro6"
    "miembro7 miembro7";
    .quienes{
        grid-area:quienes;
        padding: 2rem 7rem;
        margin-bottom: 14rem;
        .acciontitulo{
            font-style: italic;
            margin-bottom: 3rem;
        }
    }
    .miembro{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
        .miembro1{
            display: block;
            flex-direction: column;
            background-color: $color-terciario1;
            width: auto;
            border-radius: 10px;
            grid-area: miembro1;
            .nombreCargo{
                display: block;
                padding: 1.6rem;
                .cargo{
                    display: block;
                    padding-top: 0.3rem;
                }
            }
            .imgparrafo{
                display:flex;
                flex-direction: row;
                margin-bottom: 1.6rem;
                .nosotrosimg{
                    margin-left: 1.6rem;
                    height: 15rem;
                    width: 15rem;
                    border-radius: 10px;
                }
                .nosotrosp{
                    padding: 0rem 1.6rem;
                }
            }
        }
        .miembro2{
            display: block;
            flex-direction: column;
            background-color: $color-terciario1;
            width: auto;
            border-radius: 10px;
            grid-area: miembro2;
            .nombreCargo{
                display: block;
                padding: 1.6rem;
                .cargo{
                    display: block;
                    padding-top: 0.3rem;
                }
            }
            .imgparrafo{
                display:flex;
                flex-direction: row;
                margin-bottom: 1.6rem;
                .nosotrosimg{
                    margin-left: 1.6rem;
                    height: 15rem;
                    width: 15rem;
                    border-radius: 10px;
                }
                .nosotrosp{
                    padding: 0rem 1.6rem;
                }
            }
        }
        .miembro3{
            display: block;
            flex-direction: column;
            background-color: $color-terciario1;
            width: auto;
            border-radius: 10px;
            grid-area: miembro3;
            .nombreCargo{
                display: block;
                padding: 1.6rem;
                .cargo{
                    display: block;
                    padding-top: 0.3rem;
                }
            }
            .imgparrafo{
                display:flex;
                flex-direction: row;
                margin-bottom: 1.6rem;
                .nosotrosimg{
                    margin-left: 1.6rem;
                    height: 15rem;
                    width: 15rem;
                    border-radius: 10px;
                }
                .nosotrosp{
                    padding: 0rem 1.6rem;
                }
            }
        }
        .miembro4{
            display: block;
            flex-direction: column;
            background-color: $color-terciario1;
            width: auto;
            border-radius: 10px;
            grid-area: miembro4;
            .nombreCargo{
                display: block;
                padding: 1.6rem;
                .cargo{
                    display: block;
                    padding-top: 0.3rem;
                }
            }
            .imgparrafo{
                display:flex;
                flex-direction: row;
                margin-bottom: 1.6rem;
                .nosotrosimg{
                    margin-left: 1.6rem;
                    height: 15rem;
                    width: 15rem;
                    border-radius: 10px;
                }
                .nosotrosp{
                    padding: 0rem 1.6rem;
                }
            }
        }
        .miembro5{
            display: block;
            flex-direction: column;
            background-color: $color-terciario1;
            width: auto;
            border-radius: 10px;
            grid-area: miembro5;
            .nombreCargo{
                display: block;
                padding: 1.6rem;
                .cargo{
                    display: block;
                    padding-top: 0.3rem;
                }
            }
            .imgparrafo{
                display:flex;
                flex-direction: row;
                margin-bottom: 1.6rem;
                .nosotrosimg{
                    margin-left: 1.6rem;
                    height: 15rem;
                    width: 15rem;
                    border-radius: 10px;
                }
                .nosotrosp{
                    padding: 0rem 1.6rem;
                }
            }
        }
        .miembro6{
            display: block;
            flex-direction: column;
            background-color: $color-terciario1;
            width: auto;
            border-radius: 10px;
            grid-area: miembro6;
            .nombreCargo{
                display: block;
                padding: 1.6rem;
                .cargo{
                    display: block;
                    padding-top: 0.3rem;
                }
            }
            .imgparrafo{
                display:flex;
                flex-direction: row;
                margin-bottom: 1.6rem;
                .nosotrosimg{
                    margin-left: 1.6rem;
                    height: 15rem;
                    width: 15rem;
                    border-radius: 10px;
                }
                .nosotrosp{
                    padding: 0rem 1.6rem;
                }
            }
        }
    }
    .miembro71{
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
        .miembro7{
            display: block;
            flex-direction: column;
            background-color: $color-terciario1;
            width: auto;
            border-radius: 10px;
            grid-area: miembro7;
            .nombreCargo{
                display: block;
                padding: 1.6rem;
                .cargo{
                    display: block;
                    padding-top: 0.3rem;
                }
            }
            .imgparrafo{
                display:flex;
                flex-direction: row;
                margin-bottom: 1.6rem;
                .nosotrosimg{
                    margin-left: 1.6rem;
                    height: 15rem;
                    width: 15rem;
                    border-radius: 10px;
                }
                .nosotrosp{
                    padding: 0rem 1.6rem;
                }
            }
        }    
    }
}

/* MEDIA QUERYS */

/* Tablet */

@media screen and (min-width: 880px) and (max-width:1023px){
    .mainnosotros{
        display: flex;
        flex-direction: column;
        padding-top: 10rem;
        .quienes{
            margin-bottom: 7rem;
        }
    }

}

@media screen and (min-width: 768px) and (max-width:879px){
    .mainnosotros{
        display: flex;
        flex-direction: column;
        padding: 16rem 6rem 3rem 6rem;
        .quienes{
            margin-bottom: 7rem;
        }
    }

}

/* 740px - 767px */

@media screen and (min-width: 740px) and (max-width: 767px){
    .mainnosotros{
        display: flex;
        flex-direction: column;
        padding: 14rem 6rem 3rem 6rem;
        .quienes{
            margin-bottom: 6rem;
            padding: 3rem 2rem 0rem 2rem;
        }
        .miembro{
            .miembro1{
                 padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 60rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro2{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 60rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro3{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 60rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro4{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 60rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro5{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 60rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro6{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 60rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
        }
        .miembro71{
            .miembro7{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 60rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
        }
    }
}

/* 680px - 739px */

@media screen and (min-width: 680px) and (max-width: 739px){
    .mainnosotros{
        display: flex;
        flex-direction: column;
        padding: 14rem 6rem 3rem 6rem;
        .quienes{
            margin-bottom: 6rem;
            padding: 3rem 2rem 0rem 2rem;
        }
        .miembro{
            .miembro1{
                 padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 55rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro2{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 55rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro3{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 55rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro4{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 55rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro5{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 55rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro6{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 55rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
        }
        .miembro71{
            .miembro7{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 55rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
        }
    }
}

/* 615px - 679px */

@media screen and (min-width: 615px) and (max-width: 679px){
    .mainnosotros{
        display: flex;
        flex-direction: column;
        padding: 14rem 6rem 3rem 6rem;
        .quienes{
            margin-bottom: 6rem;
            padding: 3rem 2rem 0rem 2rem;
        }
        .miembro{
            .miembro1{
                 padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 50rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro2{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 50rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro3{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 50rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro4{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 50rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro5{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 50rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro6{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 50rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
        }
        .miembro71{
            .miembro7{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 50rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
        }
    }

}

/* 550px - 614px */

@media screen and (min-width: 550px) and (max-width:614px){
    .mainnosotros{
        display: flex;
        flex-direction: column;
        padding: 14rem 6rem 3rem 6rem;
        .quienes{
            margin-bottom: 6rem;
            padding: 3rem 2rem 0rem 2rem;
        }
        .miembro{
            .miembro1{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 45rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro2{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 45rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro3{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 45rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro4{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 45rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro5{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 45rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro6{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 45rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
        }
        .miembro71{
            .miembro7{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 45rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
        }
    }

}

/* 490px - 549px  */

@media screen and (min-width: 490px) and (max-width:549px){
    .mainnosotros{
        display: flex;
        flex-direction: column;
        padding: 12rem 4rem 3rem 4rem;
        .quienes{
            margin-bottom: 6rem;
            padding: 3rem 2rem 0rem 2rem;
        }
        .miembro{
            .miembro1{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 34rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro2{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 34rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro3{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 34rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro4{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 34rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro5{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 34rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
            .miembro6{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 34rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
        }
        .miembro71{
            .miembro7{
                padding-left: 2rem;
                padding-right: 2rem;
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 34rem;
                        width: auto;
                        margin: 0rem 1.6rem 1.6rem 1.6rem;
                    }
                }
            }
        }
    }

}

/* 459px - 489px */

@media screen and (min-width: 459px) and (max-width:489px){
    .mainnosotros{
        display: flex;
        flex-direction: column;
        padding: 12rem 4rem 3rem 4rem;
        .quienes{
            margin-bottom: 6rem;
            padding: 3rem 2rem 0rem 2rem;
        }
        .miembro{
            .miembro1{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 30rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
            .miembro2{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 30rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
            .miembro3{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 30rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
            .miembro4{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 30rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
            .miembro5{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 30rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
            .miembro6{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 30rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
        }
        .miembro71{
            .miembro7{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 30rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
        }
    }

}

/* 375px - 459px */

@media screen and (min-width: 375px) and (max-width:459px){
    .mainnosotros{
        display: flex;
        flex-direction: column;
        padding: 12rem 2rem 3rem 2rem;
        .quienes{
            margin-bottom: 6rem;
            padding: 3rem 2rem 0rem 2rem;
        }
        .miembro{
            .miembro1{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 25rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
            .miembro2{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 25rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
            .miembro3{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 25rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
            .miembro4{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 25rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
            .miembro5{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 25rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
            .miembro6{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 25rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
        }
        .miembro71{
            .miembro7{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 25rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
        }
    }

}

/* 320px - 374px */

@media screen and (min-width: 320px) and (max-width:374px){
    .mainnosotros{
        display: flex;
        flex-direction: column;
        padding: 12rem 2rem 3rem 2rem;
        .quienes{
            margin-bottom: 6rem;
            padding: 3rem 2rem 0rem 2rem;
        }
        .miembro{
            .miembro1{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 20rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
            .miembro2{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 20rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
            .miembro3{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 20rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
            .miembro4{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 20rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
            .miembro5{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 20rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
            .miembro6{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 20rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
        }
        .miembro71{
            .miembro7{
                .imgparrafo{
                    display: flex;
                    flex-direction: column;
                    .nosotrosimg{
                        height: 20rem;
                        width: auto;
                        margin: 0rem 2rem 1.6rem 2rem;
                    }
                }
            }
        }
    }

}