.mainsumate{
    padding-left:0rem;
    padding-right: 0rem;
    .accion1{
        margin-bottom: 6rem;
        padding: 0rem 16rem;
        .acciontitulo{
            display: block;
            margin-bottom:3rem;
        }
        .botoncolab{
            display: flex;
            justify-content: flex-end;
            .aColab{
                margin-top: 5rem;
                padding: 1rem 2rem;
                background-color: $color-boton-principal;
                border: none;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                border-radius: 4px;
                font-size: 16px;
                transition: background-color 0.3s;
                &:hover{
                    background-color: #2a481b;
                }
            }
        }
    }
    .mision{
        height: fit-content;
        background-color:#62625f;
        background-image: url(../multimedia/mtdibujo.jpeg); 
        background-blend-mode:soft-light; 
        background-position: center;
        background-repeat:no-repeat;
        background-size: cover;
        padding: 5rem 16rem;
        margin-bottom: 6rem;
        box-shadow: 0px 5px 20px rgb(62, 62, 62);
        .misiontitulo{
            display: flex;
            justify-content: end;
        }
        .misionP{
            background-color:$color-terciario1;
            width: 70rem;
            height: fit-content;
            padding: 3rem 5rem;
            position: relative;
            top:11rem;
            border-radius: 1rem;
            box-shadow: 0px 10px 100px rgb(85, 85, 85);
            .misioncolor{
                color:$color-secundario1;
            }
        }
    }
    .beneficios{
        padding: 6rem 16rem;
        margin-top: 5rem;
        .beneficiostitulo{
            display: block;
            margin-bottom:3rem;   
        }
        .ulaportantes{
            list-style-type:decimal;
            font-size: large;
            color:$color-secundario1;
            font-family: 'Helvetica';
            padding-left:2rem;
            .liaportantes{
                margin-bottom: 1rem;
            }
        }
    }
    .botonMP{
        display: flex;
        justify-content: end;
        padding: 0rem 16rem 6rem 0rem;
        .MercP{
            height: 7rem;
            width: auto;
            background-color: $color-boton-principal;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            padding: 2rem;
            transition: background-color 0.3s;
                &:hover{
                    background-color: #2a481b;
                }
        }
    }
}

/* Tablet */

@media screen and (min-width: 900px) and (max-width: 1024px){
    .mainsumate{
        padding-top: 12rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 899px){
    .mainsumate{
        padding-top: 18rem;
        .mision{
            padding: 5rem 8rem;
            .misionP{
                width: 50rem;
            }
        }
        .botonMP{
            justify-content: center;
            margin-bottom: 6rem;
            padding: 0rem;
        }
    }
}

/* Mobile */

@media screen and (min-width: 320px) and (max-width: 767px){
    .mainsumate{
        padding-top: 18rem;
        .accion1{
            padding-left: 5rem;
            padding-right: 5rem;
        }
        .mision{
            padding: 5rem 3rem;
            margin-bottom: 0rem;
            .misiontitulo{
                margin-bottom: 5rem;
            }
            .misionP{
                background-color: $color-terciario1;
                box-shadow: none;
                width: auto;
                position:initial;
                padding-left: 3rem;
                padding-right: 3rem;
            }
        }
        .beneficios{
            margin-top: 0rem;
            padding-left: 5rem;
            padding-right: 5rem;
        }
        .botonMP{
            justify-content: center;
            margin-bottom: 6rem;
            padding: 0rem;
        }
    }
}